@charset "ytf-8";

/* ���[�f�B���O��ʂ�css */
#splash-logo {
  position: absolute;
  color:#fff;
  font-weight: bold;
  font-size: 8em;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fade;
  animation-duration: 9s;
  animation-timing-function:ease-in-out ;
  animation-fill-mode: forwards;
  /* text-shadow: 0 0 80px #fff; */
  cursor: none;
  transition: 2s;
}

#splash-logo:hover{
  text-shadow:0 0 100px #fff;
  opacity: 0.1;
}

@keyframes fade{
  0%{
    /* transform: scale(20); */
    opacity: 0;
  }
  100%{
    /* transform: scale(8); */
    opacity: 1;
    text-shadow: 0 0 60px #fff;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

/* ��ʑJ�ڌ��css */
html{
  width: 100%; 
  margin: 0; 
  cursor: none;
  overflow:visible;
}
.body{
  overflow: visible;
  cursor: none;
}

body {
  cursor: none; 
  overflow: hidden;
  display: flex; 
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  background: #000; 
}
.main {
  display: flex;
  flex: wrap;
}

p {
  line-height: 1;
}
span {
  display: block;
  width: 2vmax;
  height: 2vmax; 
  font-size: 2vmax; 
  color: #9bff9b11;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#about{
  text-align: center;
  color: #fff;
  position: absolute;
  width: 50%;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
  text-shadow: 0 0 40px #fff;
}


#about h1{
  line-height: 2em;
}
#about p{
  line-height: 2em;
  font-size: 1.0em;
  width: 100%;
}

.cursor{
  position: fixed;
  top: 1%;
  left: 1%;
  width: 10px;
  height: 10px;
  background: rgb(12, 145, 85, 0.8);
  border-radius: 50%;
  z-index: 1000;
  transition: width 0.5s, height 0.5s top 0.5s left 0.5s;
  transform: translate(0,0);
  pointer-events: none;
}


#mtext{
  text-align: center;
  color: #fff;
  margin-top: 40%;
  margin-bottom: 40px;
}

#member{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#box1{
  font-size: 10px;
  font-weight: normal;
  color: #fff;
  width: 300px;
  text-align: left;
}
#box2{
  font-size: 10px;
  font-weight: normal;
  color: #fff;
  width: 300px;
  text-align: left;
}
#box3{
  font-size: 10px;
  font-weight: normal;
  color: #fff;
  width: 300px;
  text-align: left;
}

.contact{
  text-align: center;
  margin-top:60% ;
  margin-bottom: 40px;
}
.btn{
  margin-top: 60px;
}

#btn{
  width: 10vw;
  height: 3vw;
  border-radius: 30px;
  border: none;
  transition: 0.6s;
}

#btn:hover{
  opacity: 0.2;
  transform: translate(3px,3px);
}
footer{
  color: #fff;
  font-size: 15px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
}


/* �ȉ�768*1190�� */
@media screen and (min-width:768px) and (max-width:1190px) {
  #splash-logo{
    font-size: 70px;
  }

  #about{
    top:160%;
    width: 50%;

  }
  
  span{
    width: 1vmax;
    font-size: 1vmax;
  }
  #box1 img{
    width: 150px;
  }
  #box2 img{
    width: 150px;
  }
  #box3 img{
    width: 150px;
  }
  #box1{
    width: 150px;
  }
  #box2{
    width: 150px;
  }
  #box3{
    width: 150px;
  }
  #mtext{
    margin-top: 10%;
  }

  .contact{
    margin-top: 7%;
  }
  .contact h1{
    display: none;
  }
  .contact h3{
    display: none;
  }
  .btn{
    margin-top: 10px;
  }
  #btn{
    width: 20vw;
    height: 5vw;
    font-size: 2%;
  }

}

